// == Typography ============================================= */
@import url(http://fonts.googleapis.com/css?family=Wire+One|PT+Sans+Narrow:400,700);
$font-base-family: 'PT Sans Narrow', sans-serif;
$font-heading-family: 'Wire One', sans-serif;
$base-font-size: 16px;
$base-line-height: 1em;
$base-letter-spacing:.025em;
$font-base-percentage: (($base-font-size / 16px) * 100) + 0%;

// == Color Scheme =========================================== */
$white: #fbfbfb;
$black: #2d2d2d;
$gray: #5d5d5d;
$blue: #189ad7;
$green: #35ca6a;
$orange: #fe894d;
$yellow: #feeb4d;
$red: #e43737;
$violet: #a467ef;