/* == Site Wide Styles ========================= */
html { height: 100%; }
body { height: 100%; }
a { color: $whiteBeta; text-decoration: none; }

.centered { max-width: 1200px; margin:0 auto; }


/* == Header =================================== */
.header {
	background-color: $darkBeta;
	padding: 0 25px;
	margin-bottom: 50px;

	.logo {
		position:relative;
		float:left;
	}
	.menu {
		position: relative;
		float: right;
		list-style: none;
		display:inline-block;
		padding: 25px 15px;
		margin:0;

		li 	{
			text-align:left;
			padding: 10px 50px 4px 10px;
			margin:0 10px;
			display:inline-block;
			border-bottom:3px solid $greenBeta;

			@include box-sizing(border-box);

			&:hover {
				a { color:$darkBeta; }
				background-color:$greenBeta;
				@include transition-property(background);
				@include transition-duration(.5s);
			}
		}
	}
}
/* == Footer =================================== */
.footer {
	margin-top:50px;
	background-color:$whiteBeta;
}

/* == Index ==================================== */
.pageIndex {
	height:100%;

	.module {
		position:relative;
		padding: 20px;
		color:$whiteAlpha;

		h2 		{ padding-bottom: 15px; }
		p 		{ padding:0 0 10px; margin: 0 15px; }
		.icon 	{ width:75px; height:75px; background-color:$whiteAlpha; margin:50px auto; }

		.description {
			margin-top:20px;
			width:100%;
		}

		.serverSide {
			background-color: $greenAlpha;
			margin-left:-20px;
			.description { background-color: $greenBeta; }
		}

		.responsive {
			background-color:$purpleAlpha;
			.description { background-color: $purpleBeta; }

		}

		.frontEnd {
			background-color:$blueAlpha;
			margin-right:-20px;
			.description { background-color:$blueBeta; }

		}
	}

	.recentWork {
		background-color:$darkBeta;
		height:300px;
	}
}

/* == Masonry ================================== */
$maxSize: 48%; /* 260 */ $minSize: 38%; /* 160 */
.gridSize { width 10%; }
.ms {
	background-color:#ccc;
	width:60px;
	height: 60px;
	margin:1%;
	@include box-sizing(border-box);
	@include transition-property(background);
	@include transition-duration(.5s);

	&.ms-wide { // PIF & RSO & SWOOP
		width:$maxSize;
		height:$minSize;
		&:hover {
			background-color:$lightAlpha;
			@include transition-property(background);
			@include transition-duration(.5s);
		 }
	}

	&.ms-small { // USV & ALSF
		width:$minSize;
		height:$minSize;
		&:hover {
			background-color:$lightAlpha;
			@include transition-property(background);
			@include transition-duration(.5s);
		 }
	}

	&.ms-large { // MATH & CC
		width:$maxSize;
		height: $maxSize;
		background-color:#ccc;
		&:hover {
			background-color:$lightAlpha;
			@include transition-property(background);
			@include transition-duration(.5s);
		 }
	}

	&.ms-tall { // COM SPOT
		width:$minSize;
		height:$maxSize;
		&:hover {
			background-color:$lightAlpha;
			@include transition-property(background);
			@include transition-duration(.5s);
		 }
	}

	.bwWrapper {
		position:relative;
		display:block;
	}
}




