/* == Site Wide Styles ========================= */
html { height: 100%; }
body { height: 100%; }
a { color: $whiteBeta; text-decoration: none; }

.centered { max-width: 1400px; margin:0 auto; }

$borderColor: #102A3E;



.prompt {
	position:relative;
	margin:50px auto;
	padding:5px 7px 7px;
	border: 1px solid $borderColor;
	width:70%;
	font-size:15px;

	@include box-shadow(0 0 1px #ffffff inset);
	@include background-image(linear-gradient(center top, rgba(50,123,165,0.75) 0%, rgba(46,75,90,0.75) 50%, rgba(92,176,220,0.75)));
	@include border-radius(5px);
	@include box-sizing(border-box);

	.header {
		height:25px;
		margin-bottom:5px;

		.mini {
			position:absolute;
			top:0px;
			right: 72px;
			height:15px;
			width:30px;
			border: 1px solid $borderColor;
			border-top:none;

			@include border-radius(0 0 0 5px);

		}
		.full {
			position:absolute;
			top:0px;
			right: 42px;
			height:16px;
			width:30px;
			border-bottom: 1px solid $borderColor;

		}
		.close {
			position:absolute;
			top:0px;
			right: 10px;
			height:15px;
			width:30px;
			border: 1px solid $borderColor;
			border-top:none;

			@include border-radius(0 0 5px 0);
			@include background-image(linear-gradient(top, rgba(169,3,41,0.75) 0%,rgba(143,2,34,0.75) 44%,rgba(109,0,25,0.75) 100%));

		}
	}
	.body {
		position:relative;
		background: #000;
		color: #33df33;
		height:350px;
		border:1px solid $borderColor;
		padding:0 5px;
		overflow-y:scroll;
	}

	.input {
		position: absolute;
		bottom:0;
		right:1px;
		width:100%;

		input {
			float:left;
			border:none;
			padding:5px;
			width:70%;
			background-color:#000;
			color:#33df33;
		}
		.path {
			float: left;
			margin:0 3px 3px 0;
		}
	}
}