/*
| _typography.scss
| 6/24/2013 Kylejasso.io
*/


/* == Typography =============================== */
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

$weight           : normal;
$line-height      : 1.65;
$font-size        : 112.5; // (16 * 112.5% = 18px)
$font-base        : 16 * ($font-size / 100);
$font-family      : serif;
$font-family-sans : 'Pathway Gothic One';

/* == Main Styles ============================== */
body { font-family: $font-family-sans; line-height: $line-height; font-size:($font-base+px); }

/* == Headings ================================= */

h1, h2, h3, h4, h5, h6 { margin:0; padding: 25px 15px; letter-spacing: .05em; font-weight:100; }

h1 { font-size: 42px; color: $greenBeta; font-variant:small-caps; }

h2 { font-size: 28px; }

h3 { font-size: 22px; }

h4 { font-size: 18px; }

h5 { }

h6 { }