/*
| _typography.scss
| 6/24/2013 Kylejasso.io
*/


/* == Typography =============================== */


$weight           : normal;
$line-height      : 1.65;
$font-size        : 112.5; // (16 * 112.5% = 18px)
$font-base        : 16 * ($font-size / 100);
$font-family      : serif;
$font-family-sans : sans-serif;

/* == Headings ================================= */

h1, h2, h3, h4, h5, h6 { margin:0; padding: 25px 15px; }

h1 { font-size:($font-size/24) px; color: $greenBeta; }

h2 { }

h3 { }

h4 { }

h5 { }

h6 { }