/* == Global Presets ========================================= */
body {
    font-size: $font-base-percentage;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    color: $black;
}

a {
    color: $black;
    &:hover {
        color: $violet;
    }
}

img {
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

input {
    border: 1px solid #aaa;
    padding: 1%;
    outline: none;
    margin: 0 0 1% 0;
    height: 1%;
    @include box-sizing(border-box);
}

.centered {
    max-width: 1400px;
    margin: 0 auto;
    padding: .25%;
    @include box-sizing(border-box);
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}

/* == Header Styles ========================================== */
header {
    padding: .25%;
    @include box-sizing(border-box);
    h1 {
        position: relative;
        display: inline-block;
        float: left;
        margin-bottom: 0;
        line-height: 0;
    }
    h2 {
        position: relative;
        display: inline-block;
        float: left;
        padding-left: .75em;
        margin-bottom: 0;
        line-height: .3em;
    }
}

/* == Sprite Sheets ========================================== */
$icons: sprite-map("sprites/*.png", $layout: smart);
$icons-2x: sprite-map("sprites2x/*.png", $layout: smart);

.about-icon {
    @include use-sprite("about");
    &.hover {
        @include use-sprite("about-hover");
    }
}

cd
.blog-icon {
    @include use-sprite("blog");
    &.hover {
        @include use-sprite("blog-hover");
    }
}

.contact-icon {
    @include use-sprite("contact");
    &.hover {
        @include use-sprite("contact-hover");
    }
}

.labs-icon {
    @include use-sprite("labs");
    &.hover {
        @include use-sprite("labs-hover");
    }
}

.projects-icon {
    @include use-sprite("projects");
    &.hover {
        @include use-sprite("projects-hover");
    }
}