/* == Global Presets ========================================= */
html, body { height:100; margin:0; padding: 0; }
body {
    font-size: $font-base-percentage;
    font-family:$font-base-family;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    color: $black;
    background:url(images/cubes.png) repeat;
}

a {
    color: $black;
    text-decoration:none;
    &:hover {
        color: $violet;
    }
}

img {
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
}

input {
    border: 1px solid #aaa;
    padding: 1%;
    outline: none;
    margin: 0 0 1% 0;
    height: 1%;
    @include box-sizing(border-box);
}

.centered {
    max-width: $max-width;
    margin: 0 auto;
    padding: .25%;
    @include box-sizing(border-box);
}

.clearfix:before,
.clearfix:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}

/* == Header Styles ========================================== */
header {
    padding:.25%;
    margin:10px 10px 7%;
    @include box-sizing(border-box);
    h1 {
        position: relative;
        display: inline-block;
        float: left;
        margin-bottom: 0;
        line-height: 0;
    }
    h2 {
        position: relative;
        display: inline-block;
        float: left;
        padding-left: .75em;
        margin-bottom: 0;
        line-height: .3em;
    }
}

/* == Footer Styles ========================================== */
footer {
    background:$black;
    color:$white;
    ul {
        margin:0;
        padding:10px;
        display:block;
        text-align: right;
        li {
            list-style:none;
            display:inline-block;
            padding:0 6px;

            a {
                color:$white;
            }
        }
    }
}

/* == Sprite Sheets ========================================== */
