$headerDuration: 0.25s;
$headerEase: ease-in-out;

nav {
    ul {
        margin:0;
        padding:0;
        li {
            position:relative;
            display:inline-block;
            overflow:hidden;
            padding:2%;
            width:18.75%;
            background:$white;
            list-style:none;
            text-align:center;

            @include box-sizing(border-box);

            &:hover {
                //background:#000;
                //@include transition(all $headerDuration $headerEase);
            }

            a:hover {
                color:$black;
            }

            h2 {
                margin-bottom:0;
            }

            img {
                max-height:157px;
            }

        }
    }
}