@import url(http://fonts.googleapis.com/css?family=Wire+One|PT+Sans+Narrow:400,700);
/* You know, I bet you're thinking this looks like a garbled
*  mess. And you would be right. It is prety messy and hard to
*  understand; however, the good news is. I use Sass and Compass!
*  So while the browser see's this crazy compressed long version
*  I get to safely work inside my organized sass folder. Want to
*  check it out? Well too bad! You can't!
* (Just kidding: http://www.kylejasso.io/sass/)
*/
/* == Vendor Styles ========================================== */
.pln { color: #000; }

@media screen { .str { color: #080; }
  .kwd { color: #008; }
  .com { color: #800; }
  .typ { color: #606; }
  .lit { color: #066; }
  .pun, .opn, .clo { color: #660; }
  .tag { color: #008; }
  .atn { color: #606; }
  .atv { color: #080; }
  .dec, .var { color: #606; }
  .fun { color: red; } }
@media print, projection { .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun, .opn, .clo { color: #440; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; } }
pre.prettyprint { padding: 2px; border: 1px solid #888; }

ol.linenums { margin-top: 0; margin-bottom: 0; }

li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 { list-style-type: none; }

li.L1, li.L3, li.L5, li.L7, li.L9 { background: #eee; }

/* == Framework Styles ======================================= */
/* == Headings =============================================== */
h1, h2, h3, h4, h5, h6 { font-family: "Wire One", sans-serif; font-weight: 100; }

h1 { font-size: 3.75em; }

h2 { font-size: 3em; }

h3 { font-size: 2.25em; }

h4 { font-size: 1.875em; }

h5 { font-size: 1.5em; }

h6 { font-size: 1.125em; }

/* == Font Icons via Fontello ================================ */
@font-face { font-family: 'fontello'; src: url("assets/fontello.eot?25529582"); src: url("assets/fontello.eot?25529582#iefix") format("embedded-opentype"), url("assets/fontello.woff?25529582") format("woff"), url("assets/fontello.ttf?25529582") format("truetype"), url("assets/fontello.svg?25529582#fontello") format("svg"); font-weight: normal; font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "fontello"; font-style: normal; font-weight: normal; speak: none; display: inline-block; text-decoration: inherit; width: 1em; margin-right: .2em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; margin-left: .2em; }

.icon-th-list:before { content: '\e802'; }

.icon-th:before { content: '\e801'; }

.icon-pencil:before { content: '\e807'; }

.icon-th-large:before { content: '\e800'; }

.icon-tags:before { content: '\e806'; }

.icon-left-open:before { content: '\e81f'; }

.icon-right-open:before { content: '\e81e'; }

.icon-firefox:before { content: '\e81c'; }

.icon-chrome:before { content: '\e81b'; }

.icon-ie:before { content: '\e81d'; }

.icon-link-ext:before { content: '\e814'; }

.icon-docs:before { content: '\e813'; }

.icon-gplus:before { content: '\e812'; }

.icon-sort:before { content: '\e810'; }

.icon-sort-down:before { content: '\e80e'; }

.icon-sort-up:before { content: '\e80f'; }

.icon-mail-alt:before { content: '\e809'; }

.icon-linkedin:before { content: '\e80c'; }

.icon-doc-text:before { content: '\e811'; }

.icon-github:before { content: '\e80d'; }

.icon-terminal:before { content: '\e80b'; }

.icon-code:before { content: '\e808'; }

.icon-html5:before { content: '\e816'; }

.icon-css3:before { content: '\e815'; }

.icon-stackoverflow:before { content: '\e817'; }

.icon-apple:before { content: '\e819'; }

.icon-windows:before { content: '\e81a'; }

.icon-android:before { content: '\e818'; }

.icon-folder:before { content: '\e804'; }

.icon-folder-open:before { content: '\e805'; }

.icon-phone:before { content: '\e80a'; }

.icon-download:before { content: '\e803'; }

/* == Global Styles ========================================== */
/* == Global Presets ========================================= */
body { font-size: 100%; font-family: "PT Sans Narrow", sans-serif; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; margin: 0; padding: 0; color: #2d2d2d; background: url(images/cubes.png) repeat; }

a { color: #2d2d2d; text-decoration: none; }
a:hover { color: #a467ef; }

img { max-width: 100%; -ms-interpolation-mode: bicubic; }

input { border: 1px solid #aaa; padding: 1%; outline: none; margin: 0 0 1% 0; height: 1%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.centered { max-width: 1400px; margin: 0 auto; padding: .25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both; }

/* == Header Styles ========================================== */
header { padding: .25%; margin: 10px 10px 10%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
header h1 { position: relative; display: inline-block; float: left; margin-bottom: 0; line-height: 0; }
header h2 { position: relative; display: inline-block; float: left; padding-left: .75em; margin-bottom: 0; line-height: .3em; }

/* == Sprite Sheets ========================================== */
/* == Index Page Styles ====================================== */
nav ul { margin: 0; padding: 0; }
nav ul li { position: relative; display: inline-block; overflow: hidden; padding: 2%; width: 18.75%; background: #fbfbfb; list-style: none; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
nav ul li a:hover { color: #2d2d2d; }
nav ul li h2 { margin-bottom: 0; }
nav ul li img { max-height: 157px; }

/* == About Page Styles ====================================== */
/* == Projects Page Styles =================================== */
/* == Labs Page Styles ======================================= */
/* == Contact Page Styles ==================================== */
