@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);
/* == Color Scheme ============================= */
/* == Grid Variables =========================== */
/* == Functions ================================ */
/* == Grid System ============================= */
.full { position: relative; float: left; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.half { position: relative; float: left; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.one-third { position: relative; float: left; width: 33.33333%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.two-thirds { position: relative; float: left; width: 66.66667%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c1 { position: relative; float: left; width: 6.25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c2 { position: relative; float: left; width: 12.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c3 { position: relative; float: left; width: 18.75%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c4 { position: relative; float: left; width: 25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c5 { position: relative; float: left; width: 31.25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c6 { position: relative; float: left; width: 37.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c7 { position: relative; float: left; width: 43.75%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c8 { position: relative; float: left; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c9 { position: relative; float: left; width: 56.25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c10 { position: relative; float: left; width: 62.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c11 { position: relative; float: left; width: 68.75%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c12 { position: relative; float: left; width: 75%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c13 { position: relative; float: left; width: 81.25%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c14 { position: relative; float: left; width: 87.5%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c15 { position: relative; float: left; width: 93.75%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

.c16 { position: relative; float: left; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; }

/* == Base Styles ============================= */
body { color: #000; font-family: Helvetica, Arial, sans-serif; font-size: 18; line-height: 1ems; letter-spacing: .75; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; margin: 0; padding: 0; }

img { max-width: 100%; -ms-interpolation-mode: bicubic; }

.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both; }

@media only screen and (min-width: 960px) { .noDesktop { display: none; } }
@media only screen and (min-width: 768px) and (max-width: 991px) { .noTablet { display: none; } }
@media only screen and (max-width: 767px) { .half, .one-third, .two-thirds, .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c13, .c14, .c15, .c16 { position: relative; float: left; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; } }
/*
| _typography.scss
| 6/24/2013 Kylejasso.io
*/
/* == Typography =============================== */
/* == Main Styles ============================== */
body { font-family: "Pathway Gothic One"; line-height: 1.65; font-size: 18px; }

/* == Headings ================================= */
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 25px 15px; letter-spacing: .05em; }

h1 { font-size: 42px; color: #27ae60; font-variant: small-caps; }

h2 { font-size: 28px; }

h3 { font-size: 22px; }

h4 { font-size: 18px; }

/* == Site Wide Styles ========================= */
html { height: 100%; }

body { height: 100%; }

a { color: #bdc3c7; text-decoration: none; }

.centered { max-width: 1200px; margin: 0 auto; }

/* == Header =================================== */
.header { background-color: #2c3e50; padding: 0 25px; margin-bottom: 50px; }
.header .logo { position: relative; float: left; }
.header .menu { position: relative; float: right; list-style: none; display: inline-block; padding: 25px 15px; margin: 0; }
.header .menu li { text-align: left; padding: 10px 50px 4px 10px; margin: 0 10px; display: inline-block; border-bottom: 3px solid #27ae60; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.header .menu li:hover { background-color: #27ae60; -webkit-transition-property: background; -moz-transition-property: background; -o-transition-property: background; transition-property: background; -webkit-transition-duration: 0.5s; -moz-transition-duration: 0.5s; -o-transition-duration: 0.5s; transition-duration: 0.5s; }
.header .menu li:hover a { color: #2c3e50; }

/* == Index ==================================== */
.pageIndex { height: 100%; }
.pageIndex .module { position: relative; padding: 20px; color: #ecf0f1; }
.pageIndex .module h2 { padding-bottom: 15px; }
.pageIndex .module p { padding: 0 0 10px; margin: 0 15px; }
.pageIndex .module .icon { width: 75px; height: 75px; background-color: #ecf0f1; margin: 50px auto; }
.pageIndex .module .description { margin-top: 20px; width: 100%; }
.pageIndex .module .serverSide { background-color: #2ecc71; }
.pageIndex .module .serverSide .description { background-color: #27ae60; }
.pageIndex .module .responsive { background-color: #9b59b6; }
.pageIndex .module .responsive .description { background-color: #8e44ad; }
.pageIndex .module .frontEnd { background-color: #3498db; }
.pageIndex .module .frontEnd .description { background-color: #2980b9; }
.pageIndex .recentWork { background-color: #2c3e50; height: 300px; }
